@charset "UTF-8";
/* 文字 */
h2 {
  text-align: center;
  margin: 0 0 20px 0;
  width: 100%;
  font-size: 1.5rem; }
  h2:after {
    content: "";
    display: block;
    background-color: black;
    margin: auto;
    width: 40px;
    height: 2px; }
  @media screen and (max-width: 1024px) {
    h2 {
      font-size: 1.25rem; } }

/* ローディング */
#loading {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: black; }
  #loading-progress {
    position: absolute;
    top: calc(50vh + 80px);
    left: calc(50vw - 77px);
    width: 234px;
    margin: 0 0 0 -40px; }
  #loading-percent {
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.25rem; }
  #loading-gauge {
    width: 0;
    height: 5px;
    background: #ffffff; }

/* ボタン */
.btn {
  width: 140px;
  height: 40px;
  border: 1px solid #12131d;
  text-align: center;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: relative; }
  .btn-back {
    width: 210px;
    height: 500px;
    position: absolute;
    top: -50px;
    left: -190px;
    background: #12131d;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform: rotateZ(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotateZ(-20deg);
    z-index: 1; }
  .btn a {
    font-size: 1rem;
    color: #12131d;
    line-height: 40px;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: 2;
    position: relative; }
  .btn:hover .btn-back {
    left: 50px; }
  .btn:hover a {
    color: #fff; }

.scroll-arrow {
  position: absolute;
  bottom: 60px;
  right: 0;
  left: 0;
  text-align: center;
  -webkit-transform: rotateZ(0deg);
  -ms-transform: rotate(0deg);
  transform: rotateZ(0deg); }
  .scroll-arrow:hover {
    opacity: 0.6; }

.scroll-arrow:before {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 0;
  left: 0;
  -webkit-transform: rotateZ(45deg);
  -ms-transform: rotate(45deg);
  transform: rotateZ(45deg);
  margin: auto;
  width: 20px;
  height: 20px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  border-style: solid;
  border-color: transparent white white transparent;
  border-width: 1px;
  background: transparent; }
