
* {
    padding: 0;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
    transition: .3s;
}

ul {
    list-style: none;
}

body {
    position: relative;
    font-family: "Hiragino Mincho Pro", sans-serif;
    overflow-x: hidden;
    background-color: #F8F8F8;
}
.pc {
    display: block;
    width: 100%;
    @media screen and (max-width:896px) {
        display: none!important;
    }
}
.tb {
    display: none!important;
    width: 100%;
    @media screen and (max-width:896px) {
        display: block!important;
    }
}

header {
    z-index: 100;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 7%;
    font-size: 0;
    > h1,>ul,> ul li {
        display: inline-block;
        vertical-align: middle;
    }
    >h1 {
        font-size: 2rem;
        width: 150px;
    }
    >ul {
        width: calc(86vw - 150px);
        font-size: 0;
        text-align: right;
    }
    > ul li a {
        font-size: 1rem;
        padding: 20px;
      &:hover {
        opacity: 0.6;
      }
    }
    @media screen and (max-width:896px) {
        width: 86%;
        >h1 {
            font-size: 1.5rem;
        }
        >ul {
            display: none;
        }
    }
}

.main-visual {
  position: relative;
    color: white;
    width: 100%;
    height: 100vh;
    background-image: url("../img/main-visual.jpg");
    background-size: cover;
    background-position: 55% 45%;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    > h1 {
        padding: 35vh 10%;
        font-size: 2.25rem;
        font-weight: 100;
        line-height: 1.75;
    }
    @media screen and (max-width:1024px) {
        >h1 {
            font-size: 1.75rem;
        }
    }
    @media screen and (max-width: 896px) {
        >h1 {
            padding: 35vh 5%;
            font-size: 1.5rem;
        }
    }
    @media screen and (max-width: 480px) {
        >h1 {
            font-size: 1.125rem;
        }
    }
}

.vision-section {
    background-color: white;
    text-align: center;
    padding: 50px 20px;
}

.service-section {
    padding-top: 50px;
    @media screen and (max-width:896px) {
        >h2 {
            margin-bottom: 50px;
        }
    }
}

.service-box {
    text-align: center;
    position: relative;
    margin: 40px 0 180px 0;
    width: 100%;
    font-size: 0;
    >.right,>.left {
        display: inline-block;
        vertical-align: top;
        width: 400px;
        height: 300px;
    }
    >.left {
        position: relative;
        left: 25px;
    }
    >.right {
        position: relative;
        top: 50px;
        right: 25px;
    }
    >.txt-box {
        z-index: 10;
        background-color: white;
        padding: 20px 50px;
        width: 300px;
        height: 260px;
        font-size: initial;
        text-align: left;
        >h2 {
            text-align: left;
            &:after {
                margin: 10px 0 0 0;
            }
        }
    }
    @media screen and (max-width:896px) {
        margin: 0;
        >.right,>.left {
            top: initial!important;
            right: initial!important;
            left: initial!important;
            width: 100%;
            height: initial;
        }
        >.txt-box {
            padding: 20px 20px;
            width: calc(100% - 40px);
            height: initial;
        }
    }
}

.service-box.reverse {
    margin: 40px 0 80px 0;
    >.right {
        top: -50px;
    }
    @media screen and (max-width:896px) {
        margin: 0;
    }
}

.contact-section {
    @extend .vision-section;
  background-color: #f8f8f8;
    >.btn {
        margin: 20px auto 0 auto;
    }
}
