
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="https://www.supota.com/images/logo.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>登録情報入力｜SUPOTA</title>
    <meta name="viewport" content="width=device-width" , initial-scale="1">
    <meta name="description" content="SUPOTAとは、自分の応援したいスポーツ選手を直接的にサポートできるサービスです。「トークンエコノミー」を用いて、スポーツの課題を解決するサービスを提供します。私たちは、「全てのアスリートがもっと自由に活動できる環境づくり」を目指します。" />
    <meta name="keywords" content="スポーツビジネス,トークンエコノミー,スポーツ,仮想通貨,SUPOTA,河合佑真,VOLANTHERS" />
    <meta name="author" content="@KawaiYuma8" />
    <meta property="og:title" content="SUPOTA" />
    <meta property="og:image" content="https://www.supota.com/images/logo.png" />
    <meta property="og:url" content="https://www.supota.com/" />
    <meta property="og:site_name" content="SUPOTA" />
    <meta property="og:description" content="SUPOTAとは、自分の応援したいスポーツ選手を直接的にサポートできるサービスです。「トークンエコノミー」を用いて、スポーツの課題を解決するサービスを提供します。私たちは、「全てのアスリートがもっと自由に活動できる環境づくり」を目指します。" />
    <meta name="twitter:title" content="SUPOTA" />
    <meta name="twitter:image" content="https://www.supota.com/images/logo.png" />
    <meta name="twitter:url" content="https://www.supota.com/" />
    <meta name="twitter:card" content="summary" />
    <link rel="manifest" href="manifest.json">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125713558-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());
        gtag("config", "UA-125713558-1");
    </script>
    <script src="//cdn.jsdelivr.net/instantclick/3.0.1/instantclick.min.js" data-no-instant></script>
    <script data-no-instant>
        (function(i, s, o, g, r, a, m) {
            i["GoogleAnalyticsObject"] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, "script", "https://www.google-analytics.com/analytics.js", "ga");

        ga("create", "UA-125713558-1", "auto");

        InstantClick.on("change", function() {
            ga("send", "pageview", location.pathname + location.search);
        });

        InstantClick.init(50);
    </script>
    <link rel="shortcut icon" href="https://kintt-post.jp/img/favicon.ico">
    <meta name="description" content="knitt-post">
    <meta name="keywords" content="knitt-post">
    <meta property="og:title" content="knitt-post" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content=".jp" />
    <meta property="og:image" content="/img/ogp.png" />
    <meta property="image_src" content="/img/ogp.png">
    <meta property="og:locale" content="ja_JP" />
    <meta property="fb:app_id" content="" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content=".jp/img/ogp.png">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" />

    <!-- *** stylesheet *** -->
    <link rel="stylesheet" type="text/css" href="static/css/normalize.css" media="all">
    <link rel="stylesheet" type="text/css" href="static/css/default.css" media="all">
    <link rel="stylesheet" type="text/css" href="static/css/common.css" media="all">
    <link rel="stylesheet" type="text/css" href="static/css/style.css" media="all">

    <!-- *** stylesheet 追加 *** -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    <!-- *** javascript *** -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>

    <!-- *** 追加javascript *** -->
    <script type="text/javascript">
        if ((navigator.userAgent.indexOf("iPhone") > 0) || navigator.userAgent.indexOf("iPod") > 0 || navigator.userAgent.indexOf("Android") > 0) {
            document.write("<meta name="
                viewport " content="
                width = device - width, initial - scale = 1 ">");
        } else {
            document.write("<meta name="
                viewport " content="
                width = 1200 ">");
        }
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->

</head>

<body id="home">
    <div class="bg_ribbon">
        <header>
            <a href="/"><img src="/static/img/SUPOTA-white.png" alt="SUPOTA"></a>
        </header>

        <div class="main-inner">
            <h1>アスリートに支援をしよう</h1>
            {% with messages = get_flashed_messages() %} {% if messages %}
            <div class="alert-box">
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %} {% endwith %}
            <form action="{{token}}" method="post">
                <label class="contact_label m-t2">ユーザー名<span class="hissu">*</span></label> {% if not form %}
                <div class="m-b1">
                    <input class="" name="user-name" value="" maxlength="255" placeholder="例）スポタロー">
                </div>
                <label class="contact_label">性別<span class="hissu">*</span></label>
                <div class="flex m-b1">
                    <div class="btn_tap">
                        <input type="radio" name="sex" value="2" id="request" checked="">
                        <label for="request" class="btn">男性</label>
                    </div>
                    <div class="btn_tap">
                        <input type="radio" name="sex" value="1" id="no_request">
                        <label for="no_request" class="btn">女性</label>
                    </div>
                    <div class="btn_tap">
                        <input type="radio" name="sex" value="0" id="no_request">
                        <label for="no_request" class="btn">その他</label>
                    </div>
                </div>
                <label class="contact_label">生年月日<span class="hissu">*</span></label>
                <div class="m-b1">
                    <select name="birth-year" class="w_y">
                        <option value="">年</option>
                        {% for year in range(1900, 2019)%}
                            <option value="{{year}}">{{year}}年</option>
                        {% endfor %}
                    </select>
                    <select name="birth-month" class="w_m">
                        <option value="">月</option>
                        {% for month in range(1, 13)%}
                            <option value="{{month}}">{{month}}月</option>
                        {% endfor %}
                    </select>
                    <select name="birth-day" class="w_d">
                        <option value="">日</option>
                        {% for day in range(1, 32)%}
                            <option value="{{day}}">{{day}}日</option>
                        {% endfor %}
                    </select>
                </div>

                <label class="contact_label">都道府県<span class="hissu">*</span></label>
                <div class="m-b1">
                    <select class="" name="place">
                        <option value="">選択してください</option>
                        <option value="全て">全て</option>
                        <option value="北海道">北海道</option>
                        <option value="青森県">青森県</option>
                        <option value="岩手県">岩手県</option>
                        <option value="宮城県">宮城県</option>
                        <option value="秋田県">秋田県</option>
                        <option value="山形県">山形県</option>
                        <option value="福島県">福島県</option>
                        <option value="茨城県">茨城県</option>
                        <option value="栃木県">栃木県</option>
                        <option value="群馬県">群馬県</option>
                        <option value="埼玉県">埼玉県</option>
                        <option value="千葉県">千葉県</option>
                        <option value="東京都">東京都</option>
                        <option value="神奈川県">神奈川県</option>
                        <option value="新潟県">新潟県</option>
                        <option value="富山県">富山県</option>
                        <option value="石川県">石川県</option>
                        <option value="福井県">福井県</option>
                        <option value="山梨県">山梨県</option>
                        <option value="長野県">長野県</option>
                        <option value="岐阜県">岐阜県</option>
                        <option value="静岡県">静岡県</option>
                        <option value="愛知県">愛知県</option>
                        <option value="三重県">三重県</option>
                        <option value="滋賀県">滋賀県</option>
                        <option value="京都府">京都府</option>
                        <option value="大阪府">大阪府</option>
                        <option value="兵庫県">兵庫県</option>
                        <option value="奈良県">奈良県</option>
                        <option value="和歌山県">和歌山県</option>
                        <option value="鳥取県">鳥取県</option>
                        <option value="島根県">島根県</option>
                        <option value="岡山県">岡山県</option>
                        <option value="広島県">広島県</option>
                        <option value="山口県">山口県</option>
                        <option value="徳島県">徳島県</option>
                        <option value="香川県">香川県</option>
                        <option value="愛媛県">愛媛県</option>
                        <option value="高知県">高知県</option>
                        <option value="福岡県">福岡県</option>
                        <option value="佐賀県">佐賀県</option>
                        <option value="長崎県">長崎県</option>
                        <option value="熊本県">熊本県</option>
                        <option value="大分県">大分県</option>
                        <option value="宮崎県">宮崎県</option>
                        <option value="鹿児島県">鹿児島県</option>
                        <option value="沖縄県">沖縄県</option>
                    </select>
                </div>
                {% else %}

                <div class="m-b1">
                    <input class="" name="user-name" value="{{form[" user-name "]}}" maxlength="255" placeholder="例）スポタロー">
                </div>
                <label class="contact_label">性別<span class="hissu">*</span></label>
                <div class="flex m-b1">
                    <div class="btn_tap">
                        <input type="radio" name="sex" value="2" id="request" {{ "checked" if form[ "sex"]=="2" }}>
                        <label for="request" class="btn">男性</label>
                    </div>
                    <div class="btn_tap">
                        <input type="radio" name="sex" value="1" id="no_request" {{ "checked" if form[ "sex"]=="1" }}>
                        <label for="no_request" class="btn">女性</label>
                    </div>
                    <div class="btn_tap">
                        <input type="radio" name="sex" value="0" id="no_request" {{ "checked" if form[ "sex"]=="0" }}>
                        <label for="no_request" class="btn">その他</label>
                    </div>
                </div>
                <label class="contact_label">生年月日<span class="hissu">*</span></label>
                <div class="m-b1">
                    <select name="birth-year" class="w_y">
                        <option value="{{form["birth-year"]}}">{{form["birth-year"]}}年</option>
                        {% for year in range(1900, 2019)%}
                            <option value="{{year}}">{{year}}年</option>
                        {% endfor %}
                    </select>
                    <select name="birth-month" class="w_m">
                        <option value="{{form["birth-month"]}}">{{form["birth-month"]}}月</option>
                        {% for month in range(1, 13)%}
                            <option value="{{month}}">{{month}}月</option>
                        {% endfor %}
                    </select>
                    <select name="birth-day" class="w_d">
                        <option value="{{form["birth-day"]}}">{{form["birth-day"]}}日</option>
                        {% for day in range(1, 32)%}
                            <option value="{{day}}">{{day}}日</option>
                        {% endfor %}
                    </select>
                </div>

                <label class="contact_label">都道府県<span class="hissu">*</span></label>
                <div class="m-b1">
                    <select class="" name="place">
                        <option value="{{form["place"]}}">{{form["place"]}}</option>
                        <option value="全て">全て</option>
                        <option value="北海道">北海道</option>
                        <option value="青森県">青森県</option>
                        <option value="岩手県">岩手県</option>
                        <option value="宮城県">宮城県</option>
                        <option value="秋田県">秋田県</option>
                        <option value="山形県">山形県</option>
                        <option value="福島県">福島県</option>
                        <option value="茨城県">茨城県</option>
                        <option value="栃木県">栃木県</option>
                        <option value="群馬県">群馬県</option>
                        <option value="埼玉県">埼玉県</option>
                        <option value="千葉県">千葉県</option>
                        <option value="東京都">東京都</option>
                        <option value="神奈川県">神奈川県</option>
                        <option value="新潟県">新潟県</option>
                        <option value="富山県">富山県</option>
                        <option value="石川県">石川県</option>
                        <option value="福井県">福井県</option>
                        <option value="山梨県">山梨県</option>
                        <option value="長野県">長野県</option>
                        <option value="岐阜県">岐阜県</option>
                        <option value="静岡県">静岡県</option>
                        <option value="愛知県">愛知県</option>
                        <option value="三重県">三重県</option>
                        <option value="滋賀県">滋賀県</option>
                        <option value="京都府">京都府</option>
                        <option value="大阪府">大阪府</option>
                        <option value="兵庫県">兵庫県</option>
                        <option value="奈良県">奈良県</option>
                        <option value="和歌山県">和歌山県</option>
                        <option value="鳥取県">鳥取県</option>
                        <option value="島根県">島根県</option>
                        <option value="岡山県">岡山県</option>
                        <option value="広島県">広島県</option>
                        <option value="山口県">山口県</option>
                        <option value="徳島県">徳島県</option>
                        <option value="香川県">香川県</option>
                        <option value="愛媛県">愛媛県</option>
                        <option value="高知県">高知県</option>
                        <option value="福岡県">福岡県</option>
                        <option value="佐賀県">佐賀県</option>
                        <option value="長崎県">長崎県</option>
                        <option value="熊本県">熊本県</option>
                        <option value="大分県">大分県</option>
                        <option value="宮崎県">宮崎県</option>
                        <option value="鹿児島県">鹿児島県</option>
                        <option value="沖縄県">沖縄県</option>
                    </select>
                </div>
                {% endif %}

                <!--<label class="contact_label">電話番号<span class="hissu">*</span></label>
            <div class="m-b1">
                <input type="tel"  class="" name="user-name" value="" maxlength="255" placeholder="例）000-000-0000">
            </div>-->
                <div class="check m-t3 m-b3">
                    <input name="assess" type="checkbox" required="required" class="p-b1"> <a href="kiyaku.html">利用規約</a>・<a href="privacy.html">プライバシーポリシー</a>に同意する
                </div>

                <div class="m-b1 login-btn">
                    <input type="submit" value="入力内容を確認する" class="btn login">
                </div>
            </form>

        </div>
        <footer>
            <ul>
                <li><a>利用規約</a></li>
                <li><a>プライバシーポリシー</a></li>
            </ul>
            <p class="m-t4 txt_copyright">© 2018 SUPOTA</p>
        </footer>
    </div>
    <script src="static/js/screen-transition.js"></script>
</body>
</html>
